<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Allow speech recognition to use app transcription function</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allow mic recording to use app transcription function</string>
	<key>apiKeyGroq</key>
	<string>$(APIKeyGroq)</string>
</dict>
</plist>
